<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/splash/splash.css" />
        <link rel="stylesheet" href="/stylesheets/screencheck.css" />
        <link rel="stylesheet" href="/stylesheets/common.css" />
        <link rel="stylesheet" href="/stylesheets/splash/modal.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons"
        />
    </head>

    <body>
        <div id="player-sidebar" class="sidebar-left">
            <div class="sidebar-title"><%= players.length %></div>
            <% players.forEach(function (player) { %>
            <div class="player"><%= player %></div>
            <% }); %>
        </div>

        <div id="stats-div" class="stats-div">
            <p>Games played in total: <%= nGamesPlayed %></p>
            <p>Total money spent: <%= amountSpent.toFixed(2) %>&euro;</p>
        </div>

        <div class="hero-image">
            <div class="hero-content">
                <h1>Pay-to-win Chess</h1>
                <h2>
                    The <b>most thrilling</b> game of chess you'll
                    <b>ever</b> play
                </h2>
                <hr />
                <div class="input-container">
                    <input
                        id="nickname-input"
                        class="text-input"
                        type="text"
                        placeholder="Enter your nickname"
                        maxlength="32"
                    />
                </div>
                <div class="button-group">
                    <button id="join-game-button" class="button button-primary">
                        <span>Join a game</span>
                    </button>
                    <br />
                    <button id="rules-modal-link" class="button">
                        <span>Rules</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="main-modal" class="modal-container">
            <div class="modal-background">
                <div class="modal">
                    <h2>Rules of the game</h2>
                    <hr />
                    <p>The rules are quite simple.</p>
                    <p>
                        You will be playing a completely
                        <a
                            target="_blank"
                            href="https://en.wikipedia.org/wiki/Rules_of_chess"
                            >normal game of chess</a
                        >. However, there is a minor, yet very important
                        difference: <b>pay-to-win</b> is a viable strategy!
                    </p>
                    <p>Are you willing to spend more than your opponent?</p>
                </div>
            </div>
        </div>

        <script src="/js/splash.js"></script>
    </body>
</html>
